/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

/*
===================================================
===================================================
*/

* {
  box-sizing: border-box;
}

body {
  font-size: 16px;
  background-color: rgb(120, 144, 180);
}

h1 {
  color: white;
  text-align: center;
  font-size: 2.5em;
  margin-top: 20px;
  margin-bottom: 20px;
}

button {
  border: 1px solid grey;
  border-radius: 8%;
  color: white;
  background: linear-gradient(rgb(64, 64, 221), rgb(102, 102, 223));
}

button:hover {
  cursor: pointer;
}

.create {
  height: 40px;
  width: 75px;
}

.container {
  width: 70%;
  margin: 10px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.current {
  display: flex;
  flex-wrap: wrap;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 8px;
  flex: 1, 1, content;
  margin: 10px;
  background-color: rgb(202, 202, 202);
  padding: 20px;
  text-align: center;
}

.card h2 {
  font-size: 1.5em;
  text-decoration: underline;
}

.card p {
  margin-top: 10px;
  margin-bottom: 10px;
}

.card p:first-of-type {
  margin-top: 4px;
}

.book-read {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.read-display {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-left: 10px;
}

.read-display:hover {
  cursor: pointer;
}

.is-read {
  background: url("icons/checkmark.png"), green;
  background-size: contain;
}

.not-read {
  background: url("icons/x-mark.png"), rgb(163, 18, 18);
  background-size: contain;
}

.button-container {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
}

.delete {
  margin-right: 5px;
}

.modal {
  position: fixed;
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(100, 100, 100, .9);
  border: 1px solid rgb(255, 255, 255);
  border-radius: 5px;
  color: white;
}

.modal h2 {
  font-size: 1.5em;
  margin-top: 24px;
  margin-bottom: 12px;
  text-align: center;
}

.modal button {
  margin-bottom: 24px;
}

input {
  width: 100%;
  line-height: 2em;
  margin: 10px;
  border-radius: 5px;
}

input[type="checkbox"] {
  width: auto;
}

.hidden {
  display: none;
}